:root {
    /* Content */
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    /* Background */
    --bg-primary: #020202;
    --bg-secondary: #111012;
    --bg-tertiary: #24222E;
    --bg-brand: #C58DE7;
    --bg-gray: #3D3D3D;

    /* Accent */
    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0AF;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    /* Gradient */
    --gradient-border: linear-gradient(90deg, #77C0A 6%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
    --gradient-background: linear-gradient(90deg, #D586E0 0%, #91A1FA 98.93%);
    --gradient-content: linear-gradient(90deg, #C7C9CC 0%, #3D3D3D 100%);

    /* Font Styles Sora */
    --display-large: 'Sora', sans-serif, 4.5rem/130%, 800, uppercase;
    --display-medium: 'Sora', sans-serif, 2.5rem/130%, 800, uppercase;
    --display-small: 'Sora', sans-serif, 2rem/130%, 700, uppercase;

    /* Font Styles Roboto Mono */
    --overline: 'Roboto Mono', monospace, 1rem/150%, 700, uppercase;

    /* Font Styles Roboto Flex */
    --paragraph-large: 'Roboto Flex', sans-serif, 1rem/150%, 500;
    --paragraph-medium: 'Roboto Flex', sans-serif, 0.875rem/150%, 500;
    --paragraph-small: 'Roboto Flex', sans-serif, 0.75rem/150%, 500;
    --label-medium: 'Roboto Flex', sans-serif, 1.25rem/150%, 700;
    --label-small: 'Roboto Flex', sans-serif, 1rem/150%, 700;

}